################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Microservices/CommentsWebApi/CommentsWebApi/appsettings.json
/Microservices/DogInfoWebApi/WebApi/appsettings.json
